# Objetivo

# Preliminares

Este es un problema en donde se quiere generar un modelo predictivo para obtener la probabilidad
de que un individuo gane por sobre o bajo los 50000 dolares anuales. Debido a lo anterior,
este es un problema de clasificacion. 

Como es un problema de Clasificacion, se puede utilizar el acercamiento desde la econometria o
el Machine Learning. Se utilizara el enfoque de Machine Learning, ya que es posible comparar
un mismo modelo con diversos puntos de corte para clasificar. Esto permitiria elegir el modelo
mas idoneo.

Para resolver el problema, sera necesario estandarizar los datos, separarlos en datos para training
y testing, entregarselos a un modelo del tipo LogisticRegression, y finalmente probar el desempeno
del modelo con las metricas de F1 o curvas ROC. Todo lo anterior, tambien sera validado utilizando
la validacion cruzada (K-Cross Validation).

# Aspectos

Se utilizaran las siguientes librerias:

- sklearn.linear_model para importar LogisticRegression
-

In [4]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LogisticRegression
import statsmodels.api as sm
import statsmodels.formula.api as smf

import warnings

warnings.simplefilter('ignore', FutureWarning)
warnings.simplefilter('ignore', DeprecationWarning)

plt.rcParams['figure.figsize'] = (12, 6)
plt.style.use('seaborn')

In [5]:
df = pd.read_csv('income-db.csv')

In [6]:
df

       age     workclass  fnlwgt  ... hours-per-week  native-country income
0       25       Private  226802  ...             40   United-States  <=50K
1       38       Private   89814  ...             50   United-States  <=50K
2       28     Local-gov  336951  ...             40   United-States   >50K
3       44       Private  160323  ...             40   United-States   >50K
4       18             ?  103497  ...             30   United-States  <=50K
...    ...           ...     ...  ...            ...             ...    ...
48837   27       Private  257302  ...             38   United-States  <=50K
48838   40       Private  154374  ...             40   United-States   >50K
48839   58       Private  151910  ...             40   United-States  <=50K
48840   22       Private  201490  ...             20   United-States  <=50K
48841   52  Self-emp-inc  287927  ...             40   United-States   >50K

[48842 rows x 15 columns]