# Interaccion de Postgresql y Python

## Psycopg2

Se genera:

1. Una conexion,
2. Un cursor
3. Las tareas

In [35]:
import psycopg2, sqlalchemy

conn = psycopg2.connect("dbname=postgres user=postgres password=2719")
print(conn.status)
cursor = conn.cursor()
cursor.execute("SELECT * FROM album;")
cursor.fetchall()

1

[('Dua Lipa', 'Dua Lipa', 2017),
 ('Yours Truly', 'Ariana Grande', 2013),
 ('My Everything', 'Ariana Grande', 2014),
 ('Dangerous Woman', 'Ariana Grande', 2016),
 ('Sweetener', 'Ariana Grande', 2018),
 ('Invasion of Privacy', 'Cardi B', 2018),
 ('Taylor Swift', 'Taylor Swift', 2006),
 ('Fearless', 'Taylor Swift', 2008),
 ('Speak Now', 'Taylor Swift', 2010),
 ('Red', 'Taylor Swift', 2012),
 ('1989', 'Taylor Swift', 2014),
 ('Reputation', 'Taylor Swift', 2017),
 ('Camila', 'Camila Cabello', 2018),
 ('Thank Me Later', 'Drake', 2010),
 ('Take Care', 'Drake', 2011),
 ('Nothing Was The Same', 'Drake', 2013),
 ('Views', 'Drake', 2016),
 ('Scorpion', 'Drake', 2018),
 ('Stoney', 'Post Malone', 2016),
 ('Beerbongs & Bentleys', 'Post Malone', 2018),
 ('17', 'XXXTENTACION', 2017),
 ('?', 'XXXTENTACION', 2018),
 ('Skins', 'XXXTENTACION', 2018),
 ('Real (Edicion Colombia)', 'J Balvin', 2007),
 ('Real (Special Edition)', 'J Balvin', 2009),
 ('El Negocio', 'J Balvin', 2011),
 ('La Familia', 'J Balvin', 2013),
 ('La Familia B Sides', 'J Balvin', 2014),
 ('Energia', 'J Balvin', 2016),
 ('Vibras', 'J Balvin', 2018),
 ('+', 'Ed Sheeran', 2011),
 ('x', 'Ed Sheeran', 2014),
 ('%', 'Ed Sheeran', 2017)]

Sin embargo, la tabla se ve poco legible. Sin embargo, esto se puede manejar con pandas!

In [20]:
import pandas as pd

df = pd.read_sql("SELECT * FROM album;", con=conn)
display(df)

C:\Users\javie\AppData\Local\Temp\ipykernel_19460\3853680463.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('SELECT * FROM album;', con=conn)

               titulo_album         artista  anio
0                  Dua Lipa        Dua Lipa  2017
1               Yours Truly   Ariana Grande  2013
2             My Everything   Ariana Grande  2014
3           Dangerous Woman   Ariana Grande  2016
4                 Sweetener   Ariana Grande  2018
5       Invasion of Privacy         Cardi B  2018
6              Taylor Swift    Taylor Swift  2006
7                  Fearless    Taylor Swift  2008
8                 Speak Now    Taylor Swift  2010
9                       Red    Taylor Swift  2012
10                     1989    Taylor Swift  2014
11               Reputation    Taylor Swift  2017
12                   Camila  Camila Cabello  2018
13           Thank Me Later           Drake  2010
14                Take Care           Drake  2011
15     Nothing Was The Same           Drake  2013
16                    Views           Drake  2016
17                 Scorpion           Drake  2018
18                   Stoney     Post Malone  2016
19     Beerbongs & Bentleys     Post Malone  2018
20                       17    XXXTENTACION  2017
21                        ?    XXXTENTACION  2018
22                    Skins    XXXTENTACION  2018
23  Real (Edicion Colombia)        J Balvin  2007
24   Real (Special Edition)        J Balvin  2009
25               El Negocio        J Balvin  2011
26               La Familia        J Balvin  2013
27       La Familia B Sides        J Balvin  2014
28                  Energia        J Balvin  2016
29                   Vibras        J Balvin  2018
30                        +      Ed Sheeran  2011
31                        x      Ed Sheeran  2014
32                        %      Ed Sheeran  2017

In [22]:
querystring = """
SELECT *
FROM album
WHERE anio > 2011;
"""

df_ejemplo = pd.read_sql(querystring, con=conn)

C:\Users\javie\AppData\Local\Temp\ipykernel_19460\1062198036.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_ejemplo = pd.read_sql(querystring, con=conn)

In [24]:
cursor.close()

## Crear una tabla

In [36]:
querystring = """
CREATE TABLE data_titanic(
    Survived boolean,
    Sex VARCHAR(6),
    Age float,
    SibSp integer,
    Parch integer,
    Fare float,
    Embarked VARCHAR(50),
    Pclass_1 boolean,
    Pclass_3 boolean
);
"""

cursor.execute(querystring)
conn.commit()

In [37]:
cursor.execute("SELECT * FROM album;")

In [45]:
import csv

with open("titanic_train.csv", "r") as file:
    reader = csv.reader(file)
    next(reader)

    for row in reader:
        cursor.execute("INSERT INTO data_titanic VALUES (%s, %s, %s, %s, %s, %s, %s, %s)", row)

conn.commit()

TypeError: not all arguments converted during string formatting

## SQLAlchemy

### Enviar una tabla a SQL

In [71]:

from sqlalchemy import create_engine
df = pd.read_csv("titanic_train.csv")

In [74]:
string = "postgresql://postgres:2719@localhost/inventario"
engine = create_engine(string)

In [75]:
df.to_sql(name="tabla_prueba", con=engine, if_exists='append')

891

In [76]:
df.to_sql(name="tabla_prueba", con=engine, if_exists='append')

891

# Flujo general para hacer un modelo predictivo

Al final es:

- Obtener los datos
- Preprocesarlos
- Hacer el modelo
- Predecir
- Guardar las predicciones en la base de datos