In [2]:
import psycopg2
import pandas as pd
import numpy as np
import polars as pl

import matplotlib.pyplot as plt
import seaborn as sns

import warnings

warnings.filterwarnings('ignore')
sns.set_style()
plt.rcParams['figure.figsize'] = (12, 6)

In [5]:
conn = psycopg2.connect("dbname=javier_rojas user=postgres password=2719")
cursor = conn.cursor()

In [6]:
df_train = pd.read_csv("input/train_cupid.csv")
df_test = pd.read_csv("input/test_cupid.csv")

In [7]:
df_train

,age,height,virgo,taurus,scorpio,pisces,libra,leo,gemini,aries,...,orientation_straight,sex_m,smokes_sometimes,smokes_trying to quit,smokes_when drinking,smokes_yes,body_type_overweight,body_type_regular,education_high_school,education_undergrad_university
0,35,70.0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,1,0,0
1,38,68.0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,1,0,0
2,23,71.0,0,0,0,1,0,0,0,0,...,1,1,0,0,0,0,0,1,0,1
3,29,66.0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,1
4,29,67.0,0,1,0,0,0,0,0,0,...,1,1,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20076,33,63.0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
20077,22,65.0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,1
20078,28,64.0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
20079,31,62.0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
20080,27,73.0,0,0,0,0,0,0,0,0,...,1,1,0,1,0,0,0,0,0,1