In [16]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [12]:
df = pd.read_csv('alumnos.csv')
display(df)

       nombre  altura  peso  edad sexo
0        Hugo    1.67    60    23    h
1        Paco    1.73    83    25    h
2        Luis    1.62    70    28    h
3       Diana    1.58    58    21    m
4   Francisco    1.86    98    28    h
5      Felipe    1.79   100    26    h
6     Jacinta    1.69    62    20    m
7    Bernardo    1.60    83    31    h
8     Marisol    1.60    56    30    m
9     Facundo    1.98   112    36    h
10   Trinidad    1.72    72    21    m
11     Camila    1.63    57    26    m
12   Macarena    1.73    68    27    m
13      Diego    1.62    78    23    h
14    Gonzalo    1.58    67    22    h
15  Alejandra    1.86    74    21    m
16   Fernando    1.79    93    27    h
17   Carolina    1.60    63    28    m
18    Vicente    1.98   102    31    h
19   Benjamín    1.72    78    36    h
20     Gloria    1.58    65    23    m

# Medidas de dispersión

Las medidas de dispersión solamente se puede calcular con variables cuantitativas

### Media

Corresponde al valor que más representa a una muestra. En pandas se obtiene con:

In [10]:
df['altura'].mean()
np.mean(df['altura'])

1.7109523809523806

### Moda

Corresponde al valor más frecuente en una muestra. En python se obtiene con:

In [19]:
df[['nombre', 'sexo']].describe()
stats.mode(df['altura'], keepdims=False)

ModeResult(mode=1.58, count=3)

### Mediana

Es el punto que esta en el centro de los datos, pero hablando en número de datos. O sea, este dato tiene la misma cantidad de datos a la izquierda y derecha. Ej, si hay 101 datos (con X valores), entonces la mediana es el dato que está en el indice = 50. Se obtiene con:

In [20]:
df.describe()
# Es el 50%

          altura        peso       edad
count  21.000000   21.000000  21.000000
mean    1.710952   76.142857  26.333333
std     0.125734   16.514496   4.651165
min     1.580000   56.000000  20.000000
25%     1.600000   63.000000  23.000000
50%     1.690000   72.000000  26.000000
75%     1.790000   83.000000  28.000000
max     1.980000  112.000000  36.000000

### Varianza

Es el valor de distancia de los datos respecto al punto de origen (en este caso, el promedio). Se calcula con:

In [21]:
# Este divide por n-1
df['altura'].var()

0.01580904761904761

In [22]:
# Este divide por n
np.var(df['altura'])

0.015056235827664391

### Desviación estándar

Es la raíz cuadrada de la varianza.

In [23]:
# Esta dividido por n-1
df['altura'].std()

0.1257340352452255

In [24]:
# Esta dividido por n
np.std(df['altura'])

0.12270385416792902

# Control de flujo en pandas

### Iteración 

En pandas se puede iterar a través de las Series

In [25]:
for i in df['altura']:
    print(i, type(i))

1.67 <class 'float'>
1.73 <class 'float'>
1.62 <class 'float'>
1.58 <class 'float'>
1.86 <class 'float'>
1.79 <class 'float'>
1.69 <class 'float'>
1.6 <class 'float'>
1.6 <class 'float'>
1.98 <class 'float'>
1.72 <class 'float'>
1.63 <class 'float'>
1.73 <class 'float'>
1.62 <class 'float'>
1.58 <class 'float'>
1.86 <class 'float'>
1.79 <class 'float'>
1.6 <class 'float'>
1.98 <class 'float'>
1.72 <class 'float'>
1.58 <class 'float'>

In [26]:
for i in df['altura'].index:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

### Iteritems

Permite iterar por las columnas, y las series de las columnas

In [27]:
for colname, serie in df.iteritems():
    print(colname, serie)

nombre 0          Hugo
1          Paco
2          Luis
3         Diana
4     Francisco
5        Felipe
6       Jacinta
7      Bernardo
8       Marisol
9       Facundo
10     Trinidad
11       Camila
12     Macarena
13        Diego
14      Gonzalo
15    Alejandra
16     Fernando
17     Carolina
18      Vicente
19     Benjamín
20       Gloria
Name: nombre, dtype: object
altura 0     1.67
1     1.73
2     1.62
3     1.58
4     1.86
5     1.79
6     1.69
7     1.60
8     1.60
9     1.98
10    1.72
11    1.63
12    1.73
13    1.62
14    1.58
15    1.86
16    1.79
17    1.60
18    1.98
19    1.72
20    1.58
Name: altura, dtype: float64
peso 0      60
1      83
2      70
3      58
4      98
5     100
6      62
7      83
8      56
9     112
10     72
11     57
12     68
13     78
14     67
15     74
16     93
17     63
18    102
19     78
20     65
Name: peso, dtype: int64
edad 0     23
1     25
2     28
3     21
4     28
5     26
6     20
7     31
8     30
9     36
10    21
11    26
12    27
13    23
14    22
15    21
16    27
17    28
18    31
19    36
20    23
Name: edad, dtype: int64
sexo 0     h
1     h
2     h
3     m
4     h
5     h
6     m
7     h
8     m
9     h
10    m
11    m
12    m
13    h
14    h
15    m
16    h
17    m
18    h
19    h
20    m
Name: sexo, dtype: object