# Desafio Guiado 1

### Requerimiento 1

In [2]:
print('Hola Mundo esta es mi primera incursión en Python')

Hola Mundo esta es mi primera incursión en Python

### Requerimiento 2

Ingreso de variables (2 ptos): Ingrese una serie de datos respecto a su información
personal. Esta información debe estar ingresada en variables para su posterior uso.
Ingrese los siguientes datos:
* Su nombre
* Edad
* Una lista con sus 3 actividades favoritas
* ¿Tiene mascotas?

In [3]:
name = 'Javier'
edad = 24
actividades_favoritas = ['dormir', 'salir a carretear', 'programar']
mascota = True

### Requerimiento 3

Imprimir variables (2 ptos):
* Imprima cada variable creada: acceda al segundo elemento de su lista
* Pida los tipos de datos asociados
* Interpole los datos en un método print para generar una presentación sobre usted

In [4]:
print(name)
print(edad)
print(actividades_favoritas)
print(mascota)

Javier
24
['dormir', 'salir a carretear', 'programar']
True

In [5]:
actividades_favoritas[1]

'salir a carretear'

In [6]:
print(type(name))
print(type(edad))
print(type(actividades_favoritas))
print(type(mascota))

<class 'str'>
<class 'int'>
<class 'list'>
<class 'bool'>

In [7]:
print(f'Mi nombre es {name}, tengo {edad} años y me gusta {actividades_favoritas}')

Mi nombre es Javier, tengo 24 años y me gusta ['dormir', 'salir a carretear', 'programar']

### Requerimiento 4

Identificar códigos erróneos (2 ptos): a continuación se presenta una serie de
códigos que generan errores. Corríjalos y comente cuáles fueron las fallas.

In [8]:
# print('Estaba la pájara pinta sentada en el verde limón)
# El código se arregla agregando la comilla al final
print('Estaba la pájara pinta sentada en el verde limón')

Estaba la pájara pinta sentada en el verde limón

In [9]:
# print('Mi nombre es' name 'y tengo' edad, 'años')
# El código se arregla poniendo las comas entre los strings y variables
print('Mi nombre es', name, 'y tengo', edad, 'años')

Mi nombre es Javier y tengo 24 años

In [10]:
# import pandas as pd
# import numpy as np
# Este código está correcto

In [11]:
# "Ornitorrinco" + 45
# El código correcto se arregla conviertiendo el int 45 a un str
"Ornitorrinco" + "45"

'Ornitorrinco45'

### Requerimiento 5

1. Importa pandas y numpy.
2. Posteriormente importa el archivo flights.csv.
3. Solicita las primeras y últimas 5 observaciones de la tabla de datos.
4. Utiliza describe para obtener las medidas univariadas de la columna year.
5. Utiliza value_counts para obtener la frecuencia de meses y años de la tabla.
6. Guarda en variables las primeras y últimas 15 observaciones de la tabla.
7. Solicita la media, mediana y desviación estándar de la cantidad de pasajeros
utilizando los métodos de numpy. Replique el procedimiento para las últimas y
primeras 15 observaciones. Comente brevemente los resultados.

In [15]:
import pandas as pd
import numpy as np

df = pd.read_csv('flights.csv')
display(df.head(5))
display(df.tail(5))
display(df['year'].describe())
display(df['month'].value_counts())

primeras_quince = df.head(15)
ultimas_quince = df.tail(15)

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

     year      month  passengers
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

count     144.000000
mean     1954.500000
std         3.464102
min      1949.000000
25%      1951.750000
50%      1954.500000
75%      1957.250000
max      1960.000000
Name: year, dtype: float64

January      12
February     12
March        12
April        12
May          12
June         12
July         12
August       12
September    12
October      12
November     12
December     12
Name: month, dtype: int64

In [20]:
media = np.mean(df['passengers'])
mediana = np.median(df['passengers'])
desviacion_estandar = np.std(df['passengers'])

In [22]:
media_primeras_quince = np.mean(primeras_quince['passengers'])
mediana_primeras_quince = np.median(primeras_quince['passengers'])
desviacion_estandar_primeras_quince = np.std(primeras_quince['passengers'])
media_ultimas_quince = np.mean(ultimas_quince['passengers'])
mediana_ultimas_quince = np.median(ultimas_quince['passengers'])
desviacion_estandar_ultimas_quince = np.std(ultimas_quince['passengers'])

In [24]:
print(f'Las medidas estadisticas para los datos totales son: \n'
      f'Media: {media}\nMediana: {mediana}\nDesviacion estándar: {desviacion_estandar}\n\n'
      f'Las medidas estadisticas para los primeros quince datos son: \n'
      f'Media: {media_primeras_quince}\nMediana: {mediana_primeras_quince}\nDesviacion estándar: {desviacion_estandar_primeras_quince}\n\n'
      f'Las medidas estadisticas para los ultimos quince datos son: \n'
      f'Media: {media_ultimas_quince}\nMediana: {mediana_ultimas_quince}\nDesviacion estándar: {desviacion_estandar_ultimas_quince}\n\n')

Las medidas estadisticas para los datos totales son:
Media: 280.2986111111111
Mediana: 265.5
Desviacion estándar: 119.54904153277148

Las medidas estadisticas para los primeros quince datos son:
Media: 126.8
Mediana: 126.0
Desviacion estándar: 12.681745410891462

Las medidas estadisticas para los ultimos quince datos son:
Media: 459.2
Mediana: 432.0
Desviacion estándar: 75.29426715671431

De forma general se puede ver que los datos totales tienen una dispersión mayor que los 
primeros/ultimos quince datos. Los primeros quince datos poseen la menor media, mediana y dispersión
con respecto a los otros dos grupos. Los últimos quince datos poseen la mayor media y mediana con
respecto a los otros dos grupos.