In [1]:
import pandas as pd
import numpy as np

1. Generar un par de arrays ficticios con numpy.

Tip: Utilice la función linspace para generar un array entre 1 y 50, y un array entre 50 y
150.

In [2]:
uno_cincuenta_array = np.linspace(1, 50)
cincuenta_cientocincuneta_array = np.linspace(50, 150)

2. Ejecuta un loop que devuelva si el número en el primer array es par o impar.

Tip: Utilice la función módulo para encontrar si el número es divisible por 2.

In [6]:
for numero in uno_cincuenta_array:
    if numero % 2 == 0:
        resultado = 'par'

    elif numero % 2 == 1:
        resultado = 'impar'
    
    print(f'El resultado es: {resultado}')

El resultado es: impar
El resultado es: par
El resultado es: impar
El resultado es: par
El resultado es: impar
El resultado es: par
El resultado es: impar
El resultado es: par
El resultado es: impar
El resultado es: par
El resultado es: impar
El resultado es: par
El resultado es: impar
El resultado es: par
El resultado es: impar
El resultado es: par
El resultado es: impar
El resultado es: par
El resultado es: impar
El resultado es: par
El resultado es: impar
El resultado es: par
El resultado es: impar
El resultado es: par
El resultado es: impar
El resultado es: par
El resultado es: impar
El resultado es: par
El resultado es: impar
El resultado es: par
El resultado es: impar
El resultado es: par
El resultado es: impar
El resultado es: par
El resultado es: impar
El resultado es: par
El resultado es: impar
El resultado es: par
El resultado es: impar
El resultado es: par
El resultado es: impar
El resultado es: par
El resultado es: impar
El resultado es: par
El resultado es: impar
El resultado es: par
El resultado es: impar
El resultado es: par
El resultado es: impar
El resultado es: par

3. Genere un loop con el segundo array que cuente las siguientes condiciones:

- Si el número es divisible por 2 o 3.
- Si el número es divisible por 2 y 3.
- Si el número es divisible por 3 pero no por 2.
- si el número no es divisible por 2 ni 3.

In [7]:
for numero in cincuenta_cientocincuneta_array:
    if numero % 2 == 0 or numero % 3 == 0:
        resultado = 'dos o tres'
    
    elif numero % 2 == 0 and numero % 3 == 0:
        resultado = 'dos y tres'
    
    elif numero % 3 == 0 and numero % 2 != 0:
        resultado = 'tres y no dos'
    
    elif numero % 2 != 0 and numero % 3 != 0:
        resultado = 'no tres y no dos'
    
    print(f'El resultado es: {resultado}')

El resultado es: dos o tres
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: no tres y no dos
El resultado es: dos o tres

4. Corrección de errores: Revisa el siguiente código y encuentra los errores a corregir.

```
for i in range(100):
    print(I**2)
```

In [8]:
for i in range(100):
    print(i**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801

5. Utilizando la misma base flights.csv debes hacer un loop y clasificar los meses
con una cantidad de pasajeros menor a la media. Para ello:
- Genera un nuevo objeto que represente la media de passengers.
- Genera una columna en la base de datos que se llame underperforming y
asígnele 0.
- Ejecuta un loop que recorra cada observación de passengers, donde si la
observación es menor a la media de passengers se le asigne a
underperforming un 1.
- Asignar unos en la columna underperforming ya creada, para ello utilice la
función at de pandas.

In [10]:
df = pd.read_csv('flights.csv')

media = df['passengers'].mean()
df['underperforming'] = 0

In [16]:
for index, row in df.iterrows():
    if row['passengers'] < media:
        df.loc[index, 'underperforming'] = 1

In [17]:
df

     year      month  passengers  underperforming
0    1949    January         112                1
1    1949   February         118                1
2    1949      March         132                1
3    1949      April         129                1
4    1949        May         121                1
..    ...        ...         ...              ...
139  1960     August         606                0
140  1960  September         508                0
141  1960    October         461                0
142  1960   November         390                0
143  1960   December         432                0

[144 rows x 4 columns]