# Ejercicio 1

En este problema se quiere saber si un articulo sera popular o impopular basado en diversas variables. La popularidad de un articulo sera medido con la variable `shares`, donde un articulo con mas de 1400

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import warnings

import helpers as afx

warnings.filterwarnings('ignore')
plt.style.use('seaborn')
plt.rcParams['figure.figsize'] = (12, 6)

In [2]:
df = pd.read_csv('input/OnlineNewsPopularity/OnlineNewsPopularity.csv')

In [3]:
import re

df.columns = [i.replace(' ', '') for i in df.columns]
df = df.loc[:, 'n_tokens_title':'shares']

qnty = df.filter(regex='^n_', axis=1)
channel = df.filter(regex='^data_', axis=1)
days = df.filter(regex=re.compile("weekday|weekend"), axis=1)
sentiments = df.filter(regex=re.compile("negative|positive|subjectivity"), axis=1)
lda = df.filter(regex='^LDA_\d', axis=1)
keywords = df.filter(regex='^kw_', axis=1)

conjunto_variables = {"qnty": qnty, 
                      "channel": channel, 
                      "days": days, 
                      "sentiments": sentiments, 
                      "lda": lda, 
                      "keywords": keywords}

In [4]:
afx.grid_plot_batch(qnty, len(qnty.columns), 'hist')

ValueError: Number of rows must be a positive integer, not 1.0

In [5]:
for tipo_variable, var in conjunto_variables.items():
    print(f'Analizando a la variable {tipo_variable}')
    display(afx.identify_high_correlations(var, 0.8))

Analizando a la variable qnty

                    variable              var2     value
17          n_non_stop_words   n_unique_tokens  0.999572
22  n_non_stop_unique_tokens   n_unique_tokens  0.999852
23  n_non_stop_unique_tokens  n_non_stop_words  0.999532

Analizando a la variable channel

Empty DataFrame
Columns: [variable, var2, value]
Index: []

Analizando a la variable days

Empty DataFrame
Columns: [variable, var2, value]
Index: []

Analizando a la variable sentiments

Empty DataFrame
Columns: [variable, var2, value]
Index: []

Analizando a la variable lda

Empty DataFrame
Columns: [variable, var2, value]
Index: []

Analizando a la variable keywords

      variable        var2     value
19  kw_avg_min  kw_max_min  0.940529
36  kw_max_max  kw_min_min -0.857226
79  kw_avg_avg  kw_max_avg  0.811864

- De las variables qnty, las variables `n_non_stop_words`, `n_unique_tokens` y `n_non_stop_unique_tokens` presentan correlaciones mayores a 0.8.

- De las variables keywords, las variables `kw_avg_min`, `kw_max_min`, `kw_max_max`, `kw_min_min`, `kw_avg_avg` y `kw_max_avg` presentan correlaciones absolutas mayores a 0.8.

In [17]:
df['shares_bin'] = np.where(df['shares'] > 1400, 1, 0)
df = df.drop(columns=['shares', 'n_non_stop_words', 'n_unique_tokens',
                      'n_non_stop_unique_tokens', 'kw_avg_min', 'kw_max_min',
                      'kw_max_max', 'kw_min_min','kw_avg_avg', 'kw_max_avg'])

In [18]:
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split

pca = PCA(n_components=30, random_state=1).fit()

,n_tokens_title,n_tokens_content,num_hrefs,num_self_hrefs,num_imgs,num_videos,average_token_length,num_keywords,data_channel_is_lifestyle,data_channel_is_entertainment,...,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares_bin
0,12.0,219.0,4.0,2.0,1.0,0.0,4.680365,5.0,0.0,1.0,...,0.100000,0.70,-0.350000,-0.600,-0.200000,0.500000,-0.187500,0.000000,0.187500,0
1,9.0,255.0,3.0,1.0,1.0,0.0,4.913725,4.0,0.0,0.0,...,0.033333,0.70,-0.118750,-0.125,-0.100000,0.000000,0.000000,0.500000,0.000000,0
2,9.0,211.0,3.0,1.0,1.0,0.0,4.393365,6.0,0.0,0.0,...,0.100000,1.00,-0.466667,-0.800,-0.133333,0.000000,0.000000,0.500000,0.000000,1
3,9.0,531.0,9.0,0.0,1.0,0.0,4.404896,7.0,0.0,1.0,...,0.136364,0.80,-0.369697,-0.600,-0.166667,0.000000,0.000000,0.500000,0.000000,0
4,13.0,1072.0,19.0,19.0,20.0,0.0,4.682836,7.0,0.0,0.0,...,0.033333,1.00,-0.220192,-0.500,-0.050000,0.454545,0.136364,0.045455,0.136364,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39639,11.0,346.0,9.0,7.0,1.0,1.0,4.523121,8.0,0.0,0.0,...,0.100000,0.75,-0.260000,-0.500,-0.125000,0.100000,0.000000,0.400000,0.000000,1
39640,12.0,328.0,9.0,7.0,3.0,48.0,4.405488,7.0,0.0,0.0,...,0.136364,0.70,-0.211111,-0.400,-0.100000,0.300000,1.000000,0.200000,1.000000,1
39641,10.0,442.0,24.0,1.0,12.0,1.0,5.076923,8.0,0.0,0.0,...,0.136364,0.50,-0.356439,-0.800,-0.166667,0.454545,0.136364,0.045455,0.136364,1
39642,6.0,682.0,10.0,1.0,1.0,0.0,4.975073,5.0,0.0,0.0,...,0.062500,0.50,-0.205246,-0.500,-0.012500,0.000000,0.000000,0.500000,0.000000,0
39643,10.0,157.0,1.0,1.0,0.0,2.0,4.471338,4.0,0.0,1.0,...,0.100000,0.50,-0.200000,-0.200,-0.200000,0.333333,0.250000,0.166667,0.250000,0