In [4]:
import pandas as pd
import numpy as np

report = ['0', '0.63', '0.67', '0.65', '6598', '1', '0.64', '0.60', '0.62', '6485', '0.63', 
          '13083', '0.63', '0.63', '0.63', '13083', '0.63', '0.63', '0.63', '13083']

In [5]:
report = pd.DataFrame(np.array(report).reshape(len(report) // 5, 5))

In [7]:
report.columns = ['idx', 'prec', 'rec', 'f1', 'n']

In [8]:
class_labels = report.iloc[:np.unique(y_true).shape[0]].pop('idx').apply(int)

     idx   prec   rec    f1      n
0      0   0.63  0.67  0.65   6598
1      1   0.64  0.60  0.62   6485
2   0.63  13083  0.63  0.63   0.63
3  13083   0.63  0.63  0.63  13083