In [15]:
import pandas as pd
import random

1. Genere una muestra de casos (1 punto). Para ello debesconsiderar:
-  Utilice los últimos 4 dígitos de su rut como semilla pseudoaleatoria.
-  Seleccione el 50% de los casos.
-  Cada base generada debe contener los siguientes elementos:
   -  El índice de desarrollo humano (undp_hdi).
   -  El nombre del país (ccodealp).
   -  La región a la que pertenece (ht_region).
   -  El PIB per cápita. (gle_cgdpc).
   -  El total de la población (imf_pop)

- Si su apellido está entre la N y la Z, escoja las siguientes variables del módulo
Salud:
    -  wef_imort: Infant mortality, deaths/1000 live births.
    -  who_alc2000: Alcohol consumption per capita (2000-).
    -  who_tobt: Current smoking of any tobacco product (Total).
    -  wdi_exph: Government expenditure on health, total(% of GDP).
    -  Guarde esta tabla procesada en un nuevo objeto.
    -  Renombre las categorías de la variableht_region denúmeros a regiones.

In [17]:
SEMILLA_PSEUDOALEATORIA = "0115" # Lo utilicé como string, ya que 0115 como int no funciona
columnas_a_utilizar = ['undp_hdi', 'ccodealp', 'ht_region', 'gle_cgdpc', 'imf_pop']
variables_salud = ['wef_imort', 'who_alc2000', 'who_tobt', 'wdi_exph']

random.seed(SEMILLA_PSEUDOALEATORIA)

In [9]:
df = pd.read_csv('qog_std_cs_jan18.csv')
df_auxiliar = pd.read_csv('subsample_isz.csv')

In [26]:
def obtener_mitad_casos_df(numero_filas_df):
    return int(round(numero_filas_df / 2, 0))

In [27]:
mitad_casos = obtener_mitad_casos_df(df.shape[0])
df_cincuenta_casos = df.head(mitad_casos)

In [28]:
df_cincuenta_casos

,ccode,cname,ccodealp,ccodecow,ccodewb,version,aid_cpnc,aid_cpsc,aid_crnc,aid_crnio,...,wvs_relacc,wvs_relsch,wvs_relsci,wvs_satfin,wvs_satlif,wvs_screl,wvs_subh,wvs_survself,wvs_tradrat,wvs_trust
0,4,Afghanistan,AFG,700.0,4.0,QoGStdCSJan18,NaN,NaN,29.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,Albania,ALB,339.0,8.0,QoGStdCSJan18,NaN,NaN,26.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12,Algeria,DZA,615.0,12.0,QoGStdCSJan18,NaN,NaN,21.0,6.0,...,3.710616,1.704692,3.681347,5.988125,6.301029,5.339371,3.805579,-0.409807,-0.498164,0.179286
3,20,Andorra,AND,232.0,20.0,QoGStdCSJan18,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24,Angola,AGO,540.0,24.0,QoGStdCSJan18,NaN,NaN,22.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,417,Kyrgyzstan,KGZ,703.0,417.0,QoGStdCSJan18,NaN,NaN,22.0,18.0,...,3.016760,2.282222,2.981036,6.380667,6.963087,5.668449,3.908545,-0.355836,-0.341541,0.380420
93,418,Laos,LAO,812.0,418.0,QoGStdCSJan18,NaN,NaN,20.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,422,Lebanon,LBN,660.0,422.0,QoGStdCSJan18,NaN,NaN,27.0,12.0,...,2.532534,2.734483,2.695132,5.998332,6.503772,5.747500,3.979933,-0.462340,-0.070720,0.109057
95,426,Lesotho,LSO,570.0,426.0,QoGStdCSJan18,NaN,NaN,14.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,428,Latvia,LVA,367.0,428.0,QoGStdCSJan18,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN