# Repaso terorema central del limite

Al final es que un calculo distribuye normal.

p valor: Es la probabilidad acumulada de obtener un valor dentro de la distribucion normal de los valores. Mientras mas al centro de le media tu valor, mas probabilidad acumula, y p es mucho mas grande, y mas chance de aceptar la hipotesis nula.

# Esta clase veremos la regresion lineal y empezaremos a ver Machine Learning!

## Modelos estadisticos

Permite ver cuanto afecta una variable a un resultado, y se puede ver si es estadisticamente
significante.

## Pasos Machine Learning

1. Tomo los datos
2. Guardo los datos
3. Separo los datos en datos de entrenamiento y de testeo
4. Entreno mi modelo
5. Predigo los resultados
6. Comparo con los resultados que se saben son correctos
7. Calculo que tan bueno es mi modelo

# Regresion Lineal

- Responde a: **Como una variable independiente afecta a la variable dependiente?**

- Variable Dependiente: Variable que es afectada por la variable dependiente
- Variable Independiente: Variable que explica el comportamiento de la variable dependiente


## Codificacion de Variables Categoricas:

- One-Hot Encoding: Se hace con el pd.get_dummies(variable). Se generan tantas columnas como valores
tiene la variable. Luego, cada registro llevara un 1 si es que posee a la variable de la columna, y
un 0 si es que no. 
- Binary Encoding: Es como el One-Hot Encoding, pero se genera 1 variable menos que en OHE. Si todas
las demas categorias son 0, entonces implicitamente se sabe que la variable que no se le hizo una
columna es 1.

# Codificacion Variables Categoricas

In [1]:
import pandas as pd

diccionario = {
    'nombre': ['Juan', 'Diego', 'Alonso', 'Lel'],
}

df = pd.DataFrame(diccionario)

In [4]:
# One-Hot Encoding
pd.get_dummies(df['nombre'])

# Binary Encoding, es la mas recomendada!
pd.get_dummies(df['nombre'], drop_first=True)

   Diego  Juan  Lel
0      0     1    0
1      1     0    0
2      0     0    0
3      0     0    1

# Regesiones

Al final es hacer una linea recta! Tiene la forma:

y = mx + b

In [10]:
import warnings
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
import lec5_graphs as gfx

warnings.filterwarnings('ignore')
plt.style.use('seaborn-whitegrid')
plt.rcParams['figure.figsize'] = (10, 6)

In [11]:
df = pd.read_csv('earnings.csv').drop(columns=['Unnamed: 0'])
df.sample(n=10)

,earn,height1,height2,sex,race,hisp,ed,yearbn,height,age,age_category,eth,male
166,24000.0,5,4,2,1,2,16,44,64,46,2,3,0
539,28000.0,6,3,1,2,2,9,35,75,55,3,1,1
949,96000.0,5,3,2,1,2,14,63,63,27,1,3,0
108,33000.0,5,7,2,1,2,13,47,67,43,2,3,0
1313,15000.0,5,4,2,1,2,13,49,64,41,2,3,0
340,1000.0,5,5,2,1,2,12,72,65,18,1,3,0
1321,42000.0,6,2,1,1,2,17,47,74,43,2,3,1
908,0.0,5,4,2,1,2,16,45,64,45,2,3,0
81,10000.0,5,2,2,1,2,12,43,62,47,2,3,0
361,12000.0,6,1,1,1,2,12,61,73,29,1,3,1